<div class="uk-height-large uk-overflow-hidden uk-light uk-flex" style="background-image: url('images/cloud-background.jpg');"">
<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="fibber" subTitle="the fiction writing app"}}
 <!-- <div>
  {{> welcome-menu }}
</div>-->

    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-text-top">
        
        <h1 style="font-family:chalkboard" style="color:purple" uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 2,1,1; viewport: 0.5;">Grow your stories</h1> <!--<img src="/images/fibber-owl-eyes-centre.png" width="200" alt="logo" uk-img/>-->
        <h3  style="font-family:chalkboard" uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;">Do your children want a new story every night before bed? Let them create their own with fibber. They add the details and fibber does the rest. Using Natural Language Processing tools, fibber makes completely unique stories for your children every time, and allows them return again and again to old favourites. Watch vocabularies grow and imaginations soar with fibber. </h3>
    </div>


<div class="uk-card-footer">
       <p class"uk-text-center">Copyright, Dan Doyle O'Brien, 2022</p>

    </div> 
    </div>

</div>



<!--<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    
    <div class="uk-width-expand@m">
      <img src="">
        <p class ="uk-text-large">
          
        </p>
        <p>
Do your children want a new story every night before bed? Now you can help them create their own with Fibber, the story-making app. They add the details—heroines, heroes, animals, location, things, and type—and Fibber does the rest. Using location data, API calls, and Natural Language Processing (NLP) tools, Fibber makes completely unique stories for your children every time, and allows them return again and again to old favourites. Watch vocabularies grow and imaginations soar with Fibber. 
          </p>
          
      {{> error }}
    </div>
    <div class="uk-width-auto@m">
      <img width="300" src="images/ink-dots.png" />
    </div>
  </div>
</div>-->

